/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*:before,*:after{
	box-sizing: border-box;
}

.wrap{
  width: 1000px;
  margin: 0 auto;
}

.link ul{
  background: #f6f6f6;
  display: flex;
  justify-content: flex-end;
  padding-top: 5px;
  padding-bottom: 5px;
}

.link a{
  display: block;
  text-decoration:none;
  margin: 0 5px;
  font-weight: bold;
}

.link a:hover{
  background: skyblue;
}

.fb{
color: #4460a0;
border-right: 2px solid #cccccc;
padding-right: 5px;
}

.twitter{
  color: #00aaec;
  padding-left: 5px;
}

.header{
  display: flex;
  justify-content: space-between;
}

.header ul{
  display: flex;
}

.header h1{
  background-image: url(../IMG/logo.png);
  display: block;
  width: 200px;
  height: 46px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.header ul a{
  display: block;
  padding-right: 20px;
  padding-left: 10px;
  color: #55ddbb;
  font-weight: 900;
  text-decoration:none;
  padding-top: 20px;
  padding-bottom: 15px;
}

.header ul a:hover{
  text-decoration: underline;
}

.content{
  position: relative;
}

.content h2{
  position: absolute;
  top: 90px;
  color: #ffffff;
  font-size: 40px;
  padding-left: 20px;
  width: 1000px;
  background:-webkit-linear-gradient(left,#1d1d1d,transparent)
}

.course{
    display: flex;
    justify-content: space-around;
}


.course-item{
    width: 300px;
    margin-top: 60px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border-left: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb ;
    box-shadow: 0px 5px 5px #dbdbdb;

}

.course img{
  padding-top: 20px;
}

.course-item h3{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

.h3_style{
  padding-top: 50px;
}

.h3_style1{
  padding-top: 20px;
}

.course p{
    text-align: justify;
    font-size: 15px;
    word-spacing: 10px;
    font-weight: 400;
    line-height: 1.5;
}

.course-item ul{
  line-height: 1.4;
}

.item3 h4{
  text-align: center;
  font-size: 24px;
  margin-top: 60px;
  margin-bottom: 30px;
  font-weight: bold;
}


.menu{
  margin-left:auto; 
  margin-right:auto;  
  width: 840px;
  margin-bottom: 60px;
}
.menu th,.menu td{
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  padding-top: 8px;
  padding-bottom: 10px;
}

.menu th{
  background: #f7f7f7;
  padding-right: 80px;
}

.menu th{
  text-align: left;
  font-weight: bold;
}

.menu .left_one{
  padding-left: 22px;
  padding-right: 81px;
}

.menu .color{
  color: #55ddbb;
  font-weight: 700;
}

.item4{
  width: 1000px;
  height: 425px;
  background: linear-gradient(#00644b,#009872);
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  margin-bottom: 25px;
}

.item4 h5{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  padding-bottom: 30px;
  color: #ffffff;
}

.item4 textarea{
  width: 460px;
  height: 245px;
  border-radius: 1%;
  border: none;
}

.item4 .position1{
  position: absolute;
  left: 520px;
  top: 150px;
  color: #ffffff;
}

.item4 .position2{
  position: absolute;
  left: 520px;
  top: 171px;
  width: 460px;
  height: 30px;
}

.item4 .position3{
  position: absolute;
  left: 520px;
  top: 217px;
  color: #ffffff;
}

.item4 .position4{
  position: absolute;
  left: 520px;
  top: 238px;
  width: 460px;
  height: 30px;
}

.item4 .position5{
  position: absolute;
  left: 520px;
  top: 284px;
  color: #ffffff;
}

.item4 .position6{
  position: absolute;
  left: 520px;
  top: 305px;
  width: 460px;
  height: 30px;
}

.item4 .position7{
  position: absolute;
  right: 20px;
  bottom: 30px;
  width: 70px;
  height: 35px;
  border-radius: 5%;
  border: none;
  color: #ffffff;
  background: #00cc99;
}

.footer{
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 55px;
}

.footer span{
  color: #e54991;
}

.footer .text{
  font-weight: 500;
}